.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 281px;
  height: 761px;
}
.title2 {
  position: relative;
  display: inline-block;
}
.rectangle-div1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 247px;
  height: 50px;
  opacity: 0.2;
}
.group-div4 {
  position: relative;
  width: 247px;
  height: 50px;
  flex-shrink: 0;
  color: var(--color-gray-900);
}
.frame-div31,
.frame-div32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.frame-div32 {
  top: 86px;
  gap: var(--gap-15xs);
}
.xxxxxxxxxxxxxxx {
  position: absolute;
  top: 13px;
  left: 3px;
  display: inline-block;
  width: 244px;
}
.frame-div33,
.frame-div34,
.frame-div35,
.frame-div36,
.frame-div37,
.frame-div38 {
  position: absolute;
  top: 173px;
  left: 0;
  width: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xs);
}
.frame-div34,
.frame-div35,
.frame-div36,
.frame-div37,
.frame-div38 {
  top: 259px;
}
.frame-div35,
.frame-div36,
.frame-div37,
.frame-div38 {
  top: 345px;
  gap: var(--gap-18xs);
}
.frame-div36,
.frame-div37,
.frame-div38 {
  top: 429px;
  gap: var(--gap-0);
}
.frame-div37,
.frame-div38 {
  top: 511px;
}
.frame-div38 {
  top: 598px;
  gap: var(--gap-19xs);
}
.group-div2,
.group-div3 {
  position: absolute;
  top: 40px;
  left: 18px;
  width: 247px;
  height: 681px;
}
.group-div2 {
  top: 0;
  left: 0;
  width: 281px;
  height: 761px;
}
.detail-user2 {
  position: relative;
  width: 296px;
  height: 761px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
