.line-div15 {
  align-self: stretch;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 2px;
  flex-shrink: 0;
}
.hambuger-menu5 {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-14xs);
  cursor: pointer;
}
.logo-web-icon20 {
  position: relative;
  width: 138.88px;
  height: 38.42px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-div372,
.frame-div373 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-div373 {
  width: 150px;
  flex-shrink: 0;
  align-items: center;
}
.frame-div372 {
  align-items: flex-start;
  gap: var(--gap-12xs);
}
.notification-bell-icon5 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.profile-picture-icon5 {
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.account-section5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xs);
}
.seperator5 {
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1px;
  flex-shrink: 0;
}
.profile5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin-right: 10px;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--studio-darkmode-allwhite-ffffff);
  text-align: center;
  display: inline-block;
}
.frame-div374 {
  /* width: 1203px; */
  margin-left: auto;
  height: 36px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-7xs);
}
.header-elements-row5,
.header-section5 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.header-elements-row5 {
  width: 100%;
  flex-direction: row;
  padding: var(--padding-11xs) 0;
  align-items: center;
  gap: var(--gap-0);
}
.header-section5 {
  align-self: stretch;
  background-color: var(--color-gray-1500);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
  height: 102px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-3xs);
  align-items: flex-start;
  position: fixed;
  width: 100%;
  /* margin-bottom: 100px; */
  z-index: 1;
}
.home-icon9 {
  position: relative;
  width: 34.5px;
  height: 34.5px;
  flex-shrink: 0;
  overflow: hidden;
}
.leading-icon72 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-14xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.dashboard35 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 25.88px;
  display: inline-block;
}
.leading-icon-nav-link72,
.nav-item72 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leading-icon-nav-link72 {
  justify-content: center;
  gap: var(--gap-0);
}
.nav-item72 {
  border-radius: var(--br-sm);
  width: 200px;
  padding: 0 var(--padding-14xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.user-register5 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 25.88px;
  font-weight: 600;
  display: inline-block;
}
.active {
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  width: 211px;
  padding: 0 var(--padding-14xs);
  box-sizing: border-box;
  justify-content: flex-start;
  color: var(--color-gray-1300);
  font-weight: 600;
}
.leading-icon-nav-link76,
.active,
.nav-item74 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item74 {
  border-radius: var(--br-sm);
  width: 211px;
  padding: 0 var(--padding-14xs);
  box-sizing: border-box;
  justify-content: flex-start;
  cursor: pointer;
}
.leading-icon-nav-link76 {
  width: 191px;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-0);
}
.leading-icon77 {
  padding: var(--padding-14xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.leading-icon-nav-link77,
.leading-icon77,
.nav-item77,
.nav-item78 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leading-icon-nav-link77 {
  justify-content: flex-start;
  gap: var(--gap-0);
}
.nav-item77,
.nav-item78 {
  border-radius: var(--br-sm);
  width: 211px;
  padding: 0 var(--padding-14xs);
  box-sizing: border-box;
}
.nav-item77 {
  justify-content: space-between;
  cursor: pointer;
}
.nav-item78 {
  justify-content: flex-start;
}
.logout-icon9 {
  position: relative;
  width: 33.48px;
  height: 33.48px;
  flex-shrink: 0;
  overflow: hidden;
}
.leading-icon79 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-15xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.dashboard37 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 25.11px;
  font-weight: 600;
  display: inline-block;
}
.logout-toogle9,
.nav-item79,
.nav-list9 {
  width: 211px;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.nav-item79 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-1000);
  flex-direction: row;
  padding: 0 var(--padding-15xs);
  align-items: center;
}
.logout-toogle9,
.nav-list9 {
  flex-direction: column;
  align-items: flex-start;
}
.logout-toogle9 {
  padding: var(--padding-14xl) 0 0;
  font-size: var(--font-size-4xs);
  color: var(--studio-darkmode-allwhite-ffffff);
}
.nav-list9 {
  background-color: var(--color-gray-500);
  /* height: 1807px; */
  flex-shrink: 0;
  padding: var(--padding-21xs) 0 0;
  gap: var(--gap-6xs);
  position: fixed;
  top: 0;
  /* z-index: -1; */
  padding-top: 100px;
  overflow: scroll;
  height: 100%;
}
.daftar-user9,
.description5 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.daftar-user9 {
  font-size: var(--font-size-8xl);
  font-weight: 800;
  color: var(--studio-darkmode-popuplabels-5e6a86);
}
.description5 {
  font-size: var(--font-size-6xl);
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
}
.div28,
.ellipse-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.div28 {
  top: 5px;
  left: 17px;
  display: inline-block;
  width: 5.83px;
  height: 25px;
}
.group-div36 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.testi13,
.title8 {
  position: relative;
  display: inline-block;
  width: 57.85px;
}
.testi13 {
  color: var(--color-gray-900);
  width: 107.23px;
}
.frame-div379 {
  width: 185px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.div29,
.tanggal-lahir4 {
  position: relative;
  display: inline-block;
  width: 143.34px;
}
.div29 {
  color: var(--color-gray-900);
  width: 119.1px;
}
.frame-div380 {
  width: 190px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.no-handphone4,
.xxxxxxxxxxxxx2 {
  position: relative;
  display: inline-block;
  width: 163.65px;
}
.xxxxxxxxxxxxx2 {
  color: var(--color-gray-900);
  width: 164.71px;
}
.frame-div381 {
  width: 193px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.username4,
.xxxxxxxxxxx4 {
  position: relative;
  display: inline-block;
  width: 108.91px;
}
.xxxxxxxxxxx4 {
  color: var(--color-gray-900);
  width: 111px;
}
.frame-div378,
.frame-div382 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.frame-div378 {
  width: 881px;
  flex-direction: row;
  padding: 0 var(--padding-9xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xs);
}
.nama-user15,
.testi14 {
  position: relative;
  display: inline-block;
  width: 118.24px;
}
.testi14 {
  color: var(--color-gray-900);
  width: 145.94px;
}
.frame-div384 {
  width: 186px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.indonesia4,
.kebangsaan4 {
  position: relative;
  display: inline-block;
  width: 180.87px;
}
.indonesia4 {
  color: var(--color-gray-900);
  width: 139.89px;
}
.frame-div385 {
  width: 193px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.email-user8,
.testgmailcom6 {
  position: relative;
  display: inline-block;
  width: 127.75px;
}
.testgmailcom6 {
  color: var(--color-gray-900);
  width: 199px;
}
.frame-div386 {
  width: 189px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xs);
}
.password4,
.xxxxxxxxxxx5 {
  position: relative;
  display: inline-block;
  width: 123.66px;
}
.xxxxxxxxxxx5 {
  color: var(--color-gray-900);
  width: 135.14px;
}
.frame-div377,
.frame-div383 {
  width: 881px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frame-div377 {
  width: 711px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--color-black);
}
.frame-button9 {
  cursor: pointer;
}
.frame-div388 {
  width: 197px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.daftar-user10,
.frame-div375,
.frame-div376 {
  width: 1053px;
  display: flex;
  justify-content: flex-start;
}
.frame-div376 {
  height: 174px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-md);
}
.daftar-user10,
.frame-div375 {
  flex-direction: column;
}
.daftar-user10 {
  padding: var(--padding-12xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
}
.frame-div375 {
  height: 217px;
  flex-shrink: 0;
  align-items: flex-end;
  font-family: var(--font-poppins);
}
.div30 {
  position: absolute;
  top: 5px;
  left: 15px;
  display: inline-block;
  width: 5.83px;
  height: 25px;
}
.frame-div389 {
  width: 1053px;
  height: 217px;
  flex-shrink: 0;
  align-items: flex-end;
  font-family: var(--font-poppins);
}
.column-layout-frame5,
.frame-div389,
.title-frame5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title-frame5 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-14xs);
}
.column-layout-frame5 {
  border-radius: var(--br-xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  box-shadow: 0 0 54px rgba(0, 0, 0, 0.03);
  width: calc(100% - 211px);
  overflow-x: scroll;
  align-items: flex-start;
  height: 100%;
  flex-shrink: 0;
  padding: 30px;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--studio-darkmode-allwhite-ffffff);
  font-family: var(--font-roboto);
  margin-left: auto;
  margin-top: 100px;
}
.admin-daftar-user1,
.section5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.section5 {
  align-self: stretch;
  /* height: 1807px; */
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
}
.admin-daftar-user1 {
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 100%;
  height: 1909px;
  overflow: hidden;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-1100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .hambuger-menu5 {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-div372,
  .frame-div373 {
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }
  .frame-div372 {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-21xs);
  }
  .frame-div374 {
    padding-right: var(--padding-19xs);
    box-sizing: border-box;
  }
  .header-elements-row5,
  .header-section5,
  .nav-list9 {
    padding-left: 0;
    box-sizing: border-box;
  }
  .header-section5,
  .nav-list9 {
    padding-right: 0;
  }
  .nav-list9 {
    display: none;
    width: 0;
    height: 0;
  }
  .frame-div376 {
    width: 1px;
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .column-layout-frame5 {
    flex-direction: column;
    padding-left: var(--padding-7xl);
    padding-right: 0;
    box-sizing: border-box;
    width: 100%;
  }
  .section5 {
    padding: var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  .hambuger-menu5 {
    display: flex;
    width: 26px;
    flex-direction: column;
    padding-right: var(--padding-19xs);
    box-sizing: border-box;
  }
  .logo-web-icon20 {
    display: flex;
  }
  .frame-div373 {
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }
  .seperator5 {
    display: none;
  }
  .profile5 {
    font-size: var(--font-size-8xs);
  }
  .header-section5 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-div378,
  .frame-div383 {
    flex-direction: column;
    box-sizing: border-box;
  }
  .frame-div378 {
    padding-left: var(--padding-21xl);
    padding-top: 0;
  }
  .frame-div383 {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-xs);
  }
  .frame-div377,
  .frame-div388 {
    flex-direction: row;
    box-sizing: border-box;
  }
  .frame-div377 {
    padding-left: 0;
    padding-right: var(--padding-20xl);
  }
  .frame-div388 {
    padding-left: var(--padding-10xl);
  }
  .frame-div376 {
    flex-direction: column;
    padding-top: var(--padding-12xs);
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-div375,
  .frame-div389 {
    padding-top: var(--padding-xs);
    box-sizing: border-box;
  }
  .frame-div389 {
    padding-top: var(--padding-18xl);
  }
  .section5 {
    padding: var(--padding-6xs) var(--padding-3xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .header-section5 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .daftar-user9 {
    font-size: var(--font-size-5xl);
  }
  .description5 {
    font-size: var(--font-size-lg);
  }
  .frame-div378 {
    padding-right: 0;
  }
  .frame-div377,
  .frame-div378,
  .frame-div383 {
    flex-direction: column;
    padding-left: var(--padding-17xl);
    box-sizing: border-box;
  }
  .frame-div377 {
    padding-right: 0;
  }
  .frame-div388 {
    flex-direction: row;
    padding-left: var(--padding-12xl);
    box-sizing: border-box;
  }
  .frame-div376 {
    flex-direction: column;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-div389 {
    padding-top: var(--padding-19xl);
    box-sizing: border-box;
  }
  .title-frame5 {
    padding: 0;
    box-sizing: border-box;
  }
  .column-layout-frame5 {
    /* padding: var(--padding-xs) var(--padding-lg); */
    box-sizing: border-box;
  }
  .section5 {
    flex-direction: column;
  }
}
